@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url("chrome://browser/content/browser.xul") {
  #toolbarbutton-crashmesimple {
    list-style-image: url("chrome://crashmesimple/skin/icon16.png");
  }

  #toolbarbutton-crashmesimple[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #toolbarbutton-crashmesimple {
    list-style-image: url("chrome://crashmesimple/skin/icon.png");
  }

  #toolbarbutton-crashmesimple-content > .toolbarbutton-icon,
  #toolbarbutton-crashmesimple-content-background > .toolbarbutton-icon {
    list-style-image: url("chrome://browser/skin/tab-crashed.svg");
    min-height: 20px;
    min-width: 20px;
  }

  #toolbarbutton-crashmesimple-content-background > .toolbarbutton-icon {
    filter: url(chrome://browser/skin/filters.svg#fill);
    fill: currentColor;
  }
}
